@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: 'SF Pro';
	font-weight: 100;
	src: url(/fonts/Light.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-style: italic;
	font-weight: 100;
	src: url(fonts/LightItalic.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-weight: normal;
	src: url(fonts/Regular.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-style: italic;
	font-weight: normal;
	src: url(fonts/RegularItalic.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	src: url(fonts/Medium.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: italic;
	src: url(fonts/MediumItalic.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-weight: bold;
	src: url(fonts/Semibold.otf) format('opentype');
}

@font-face {
	font-family: 'SF Pro';
	font-weight: bold;
	font-style: italic;
	src: url(fonts/SemiboldItalic.otf) format('opentype');
}

/* html {
	box-sizing: border-box;
	position: relative;

	&::after {
		content: "";
		position:fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle at top, rgb(24, 29, 37) 0%, rgb(14, 14, 16) 40%) no-repeat;
		z-index: -1;
	}
} */
/* 
html {
	scroll-behavior:smooth;
} */

body {
	background-color: rgb(21, 24, 29);
	background-image: url('$lib/grain.svg'),
		radial-gradient(
			circle closest-corner at top,
			rgb(24, 29, 37) 0%,
			rgb(15, 15, 21) 65%,
			rgb(14, 14, 16) 85%
		);
	background-repeat: repeat, no-repeat, no-repeat;
	background-blend-mode: overlay, normal, normal;
	background-size: 35%, 100%, 100%;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: rgba(50, 111, 255, 0.15);
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(50, 111, 255, 0.5);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

@media (min-width: 0) {
	p {
		font-family: 'Inter Variable';
		font-size: 0.7rem;
		width: 80%;
	}

	a {
		font-family: 'Inter Variable';
		color: rgb(226, 226, 226);
		font-size: 0.7rem;
	}

	h1 {
		font-family: 'Instrument Sans';
		font-weight: 600;
		font-size: 2.5rem;
		line-height: 1;
	}

	h2 {
		font-family: 'Instrument Sans';
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1;
	}
}

@media (min-width: 550px) {
	p {
		font-family: 'Inter Variable';
		font-size: 0.8rem;
		width: 80%;
	}

	a {
		font-family: 'Inter Variable';
		color: rgb(226, 226, 226);
		font-size: 0.8rem;
	}

	h1 {
		font-family: 'Instrument Sans';
		font-weight: 600;
		font-size: 3rem;
		line-height: 1;
	}

	h2 {
		font-family: 'Instrument Sans';
		font-weight: 500;
		font-size: 2rem;
		line-height: 1;
	}
}

@media (min-width: 850px) {
	p {
		font-family: 'Inter Variable';
		font-size: 0.9rem;
		width: 60%;
	}

	a {
		font-family: 'Inter Variable';
		color: rgb(226, 226, 226);
		font-size: 0.9rem;
	}

	h1 {
		font-family: 'Instrument Sans';
		font-weight: 600;
		font-size: 4.5rem;
		line-height: 1;
	}

	h2 {
		font-family: 'Instrument Sans';
		font-weight: 500;
		font-size: 4rem;
		line-height: 1;
	}
}

p,
.inline_url {
	color: rgb(165, 165, 165);
}

.inline_url {
	font-weight: 500;
}

.inline_url:hover {
	color: rgb(226, 226, 226);
}

/* Marquee styles */
.marquee {
	--gap: 5rem;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
	.marquee__content {
		animation-play-state: paused !important;
	}
}

/* Enable animation */
.marquee__content {
	animation: scroll 15s linear infinite;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
	max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
	position: absolute;
	top: 0;
	left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.marquee--pos-absolute .marquee__content:last-child {
	animation-name: scroll-abs;
}

@keyframes scroll-abs {
	from {
		transform: translateX(calc(100% + var(--gap)));
	}
	to {
		transform: translateX(0);
	}
}
/* 
@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
   
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
   
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
   
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
   
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
   
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
   
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
   
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 0 0% 98%;
   
      --ring: 240 10% 3.9%;
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
   
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
   
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
   
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
   
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
   
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
   
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
   
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
   
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
   
      --ring: 240 4.9% 83.9%;
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */
